Source: parrot-core
Section: parrot
Priority: standard
Maintainer: Parrot Dev Team <team@parrotsec.org>
Uploaders: Lorenzo "Palinuro" Faletra <palinuro@parrotsec.org>,
           Lisetta "Sheireen" Ferrero <sheireen@parrotsec.org>
Standards-Version: 4.1.1
Build-Depends: debhelper (>= 10)
Build-Depends-Indep: pkg-config
Homepage: https://www.parrotsec.org/

Package: parrot-core
Architecture: all
Depends: 
         apt-parrot,
         bash-completion,
         dnsutils,
         figlet,
         htop,
         iotop,
         lolcat,
         mg,
         moreutils,
         nano,
         net-tools,
         resolvconf,
         saidar,
         screen,
         whois,
         zile
Recommends: plymouth, plymouth-themes, firejail, firejail-profiles, apparmor, apparmor-profiles, apparmor-profiles-extra, apparmor-utils, selinux-policy-default, selinux-utils, sysv-rc, falconpl, lshw, usbutils, links2, console-setup, locales, localization-config, init-system-helpers, locate
Suggests: parrot-interface | parrot-cloud, parrot-tools-libre | parrot-tools | parrot-tools-cloud | parrot-tools-arm | parrot-interface-full, parrot-drivers
Replaces: bash, base-files, xterm, parrot-skel, dnsmasq, parrot-interface-common, resolvconf
Breaks: tomoyo-tools (= 2.5.0-20170102-3)
Description: keychain package and hardening configs provider
 Keychain package for Parrot GNU/Linux.
 .
 This package is needed in order to select and install new essential packages
 during the system setup and upgrade in order to provide the best upgrade experience during
 critical updates.
 .
 This package also provides hardening profiles to make the system more secure.
