Source: parrot-core
Section: parrot
Priority: standard
Maintainer: Parrot Dev Team <team@parrotsec.org>
Uploaders: Lorenzo "Palinuro" Faletra <palinuro@parrotsec.org>,
           Lisetta "Sheireen" Ferrero <sheireen@parrotsec.org>
Standards-Version: 4.2.0
Build-Depends: debhelper (>= 11), golang-go
Homepage: https://www.parrotsec.org/

Package: parrot-core
Architecture: any
Depends: apt-parrot,
         bash-completion,
         dnsutils,
         figlet,
         htop,
         nload,
         moreutils,
         nano,
         net-tools,
         resolvconf,
         screen,
         whois,
         curl,
Recommends: apparmor,
            apparmor-profiles,
            apparmor-profiles-extra,
            apparmor-utils,
            parrot-hardened,
            sysv-rc,
            locate,
            neovim
Suggests: firejail, firejail-profiles, parrot-interface, parrot-tools | parrot-tools-cloud | parrot-tools-arm | parrot-interface-full, parrot-drivers, plymouth, plymouth-themes
Replaces: bash, base-files, xterm, parrot-skel, dnsmasq, parrot-interface-common, resolvconf
Breaks: tomoyo-tools (= 2.5.0-20170102-3)
Description: keychain package and hardening configs provider
 Keychain package for Parrot GNU/Linux.
 .
 This package is needed in order to select and install new essential packages
 during the system setup and upgrade in order to provide the best upgrade experience during
 critical updates.
 .
 This package also provides hardening profiles to make the system more secure.
