Package: parrot-core
Version: 2.0.5
Architecture: all
Essential: yes
Priority: required
Installed-Size: 64
Maintainer: Lorenzo EclipseSpark Faletra <eclipse@frozenbox.org>
Depends: apt-parrot
Replaces: bash, base-files, xterm, parrot-skel, dnsmasq
Breaks: parrot-skel (<< 0.7)
Recommends: figlet, falconpl, saidar, links2, console-setup, locales, localization-config, resolvconf, dnsmasq, nscd
Suggests: parrot-interface | parrot-cloud, parrot-tools | parrot-tools-cloud | parrot-tools-arm | parrot-interface-full, parrot-drivers
Section: parrot
Description: Parrot core keychain package
 Keychain package for Parrot security OS
 .
 this package is also needed in order to select and install new essential packages
 during the system upgrade in order to provide the best upgrade experience during
 critical upgrades
